<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
    
	<section class="card-list mt-3 mb-3">
	 <h1 style="margin-top:100px" align="center"><b>Our Services</b></h1>
	 <h6 align="center">We provide a range of world-class services that allow safe and equitable access to our Contacts. Our primary focus is ensuring safe Storing Data </h6>
	 <br>
	  <br>
	  
	   <br>
	    
	      
    <div class="container-fluid">
        <div class="row">
        
            <div class="col-xl-4 d-flex align-items-stretch pb-3">
                <div class="card shadow bg-white">
                    <div class="card-img-top">
                   
                    <img src="img/secure.jpg" class="d-block mx-auto card-img img-fluid" alt=""></div>
                    <div class="card-body product-img">
                      <div class="product-profile-img">
                         <div class="prod-img">
                         <img src="img/security.jpg" class="d-block mx-auto img-fluid img-thumbnail" alt="">
                        </div>
                      </div>
                    <h4 class="card-title">High Security</h4>
                    <p class="card-text">We are Providing High Security To the Customer. There is Password Decription </p>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus dignissimos recusandae asperiores sequi nihil?</p>
                </div>
                <div class="card-footer">
                    <a href="#" target="_blank" rel="noopener" class="btn btn-primary">Learn More</a> 
                </div>
                </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch pb-3">
                <div class="card shadow bg-white">
                    <div class="card-img-top"><img src="img/cloud3.jpg" class="d-block mx-auto card-img img-fluid" alt=""></div>
                    <div class="card-body product-img">
                      <div class="product-profile-img">
                         <div class="prod-img"><img src="img/MYPIC1.jpg" class="d-block mx-auto img-fluid img-thumbnail" alt="">
                        </div>
                      </div>
                    <h4 class="card-title">Cloud Storage</h4>
                    <h5 class="card-date">Lorem ipsum dolor sit.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quis sequi ab cum a in ea, voluptas, itaque distinctio doloremque eum. Provident mollitia eveniet minima?</p>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus dignissimos recusandae asperiores sequi nihil?</p>
                </div>
                <div class="card-footer">
                    <a href="#" target="_blank" rel="noopener" class="btn btn-primary">Learn More</a> 
                </div>
                </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch pb-3">
                <div class="card shadow bg-white">
                    <div class="card-img-top"><img src="img/access.jpg" class="d-block mx-auto card-img img-fluid" alt=""></div>
                    <div class="card-body product-img">
                      <div class="product-profile-img">
                         <div class="prod-img"><img src="img/access1.jpg" class="d-block mx-auto img-fluid img-thumbnail" alt="">
                        </div>
                      </div>
                    <h4 class="card-title">Access Everyehere</h4>
                    <h5 class="card-date">Lorem ipsum dolor sit.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quis sequi ab cum a in ea, voluptas, itaque distinctio doloremque eum. Provident mollitia eveniet minima?</p>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus dignissimos recusandae asperiores sequi nihil?</p>
                </div>
                <div class="card-footer">
                    <a href="#" target="_blank" rel="noopener" class="btn btn-primary">Learn More</a> 
                </div>
                </div>
            </div>
        </div>
    </div>
    <h6 style="margin-right:30px"align="Right" >Contact Us-02203-99729</h6>
    
   </section>
 
</body>
</html>